<!DOCTYPE html>
<html>
<head>
<title>Etymos: a personal blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://jl-c.github.io/css/reset.css">
<style>
body{margin:3rem auto;max-width:33rem;padding:0 1rem}
h1{font-size:2rem;line-height:2.4rem;margin-bottom:3rem}
a{font-family:'Neuton',serif;font-size:1.35rem;line-height:1.8rem}
li{font-family:'Inter',sans-serif;line-height:1.5rem;margin-bottom:3rem}
@media screen and (min-width: 50rem) {
body {margin:6rem auto;max-width:40.5rem;padding:0}
h1 {font-size:2.5rem;line-height:3rem}
a {font-size:1.62rem;line-height:2.16rem}
}
</style>
</head>
<body>
<h1>Etymos: a personal blog</h1>
  <ul>
	  {% for post in site.posts %}
	  <li>{{ post.date | date: "%Y-%m-%d" }}<br><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
  </ul>	
</body>
</html>
