<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - Etymos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://etymos.github.io/css/reset.css">
<style>
body{margin:3rem auto;max-width:33rem;padding:0 1rem}
h1{font-size:2rem;line-height:2.4rem;margin-bottom:1.5rem}
p{font-size:1.35rem;line-height:1.8rem;margin-bottom:1.5rem}
p.date {font-family:'Inter',sans-serif;font-size:1.125rem;font-weight:600;line-height:1.5rem;}
em{font-style:italic}
@media screen and (min-width: 50rem) {
body {margin:6rem auto;max-width:44rem;padding:0}
h1 {font-size:2.5rem;line-height:3rem}
p {font-size:1.8rem;line-height:2.4rem}
p.date {font-size:1.2rem}
}
</style>
</head>
<body>
<h1>{{ page.title }}</h1>
<p class=date>{{ page.date | date: "%-d %B %Y" }}</p>
<p>{{ content }}</p>
</body>
</html>
